<div class="container">
    <div class="row">
      <h3>タスクを編集する</h3>
    </div>
    <div class="row">

      <%= form_for @task do |t| %>
        <div class="row">
          <%= t.text_field :tasks, class: "name-h1", placeholder: "タスク名", value: @task.tasks %>
        </div>
        <div class="row" style="margin-left: 3%">
          <div class="col-md-4 margin-t30">
            <div class="time">
              <h4>スタトタイム</h4>
              <%= t.datetime_field(:start_time,  value: @time_now ) %>
            </div>
          </div>
          <div class="col-md-4 margin-t30">
            <div class="time">
              <h4>デッドライン</h4>
              <%= t.datetime_field(:deadline,  value: @time_now ) %>
            </div>
          </div>
            <div class="time">
              <% if @task.end_time%>
                <h4>エンドタイム</h4>
                <div class="col-md-4 margin-t30">
                <%= @task.end_time %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row textarea">
          <textarea name="task[content]" class="work"><%= @task.content %></textarea>
        </div>

        <div class="row">
          <div class="col-md-12 margin-t30">
            <div class="type margin-t30">
              <h4> レベル </h4>
              <select name="task[level]">
                <% if @task.level === "1" %>
                    <option value="1" selected>あまり大切じゃない</option>
                    <option value="2">大切</option>
                    <option value="3">とても大切</option>
                <% elsif @task.level === "2"  %>
                    <option value="1">あまり大切じゃない</option>
                    <option value="2" selected>大切</option>
                    <option value="3">とても大切</option>
                <% elsif @task.level === "3"  %>
                    <option value="1">あまり大切じゃない</option>
                    <option value="2">大切</option>
                    <option value="3" selected>とても大切</option>
                <% end %>
              </select>
            </div>
            <div class="type margin-t30">
              <h4>タイプ</h4>
              <select name="task[type_task]">
                 <% if @task.type_task === "1" %>
                    <option value="1" selected>Housework</option>
                    <option value="2">Person</option>
                    <option value="3">Company</option>
                <% elsif @task.type_task === "2"  %>
                    <option value="1">Housework</option>
                    <option value="2" selected>Person</option>
                    <option value="3">Company</option>
                <% elsif @task.type_task === "3"  %>
                    <option value="1">Housework</option>
                    <option value="2">Person</option>
                    <option value="3" selected>Company</option>
                <% end %>
              </select>
            </div>
            <div class="type margin-t30">
              <h4 style="padding-right: 25px">状態</h4>
              <select name="task[status]">
                <% if @task.status === "0" %>
                    <option value="0" selected>Init</option>
                    <option value="1">Doing</option>
                    <option value="2">Finish</option>
                <% elsif @task.status === "1"  %>
                    <option value="0">Init</option>
                    <option value="1" selected>Doing</option>
                    <option value="2">Finish</option>
                <% elsif @task.status === "2"  %>
                    <option value="0">Init</option>
                    <option value="1">Doing</option>
                    <option value="2" selected>Finish</option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="row" style="width: 100%">
          <div class="col-sm-5"></div>
          <div class="col-sm-7">
            <button type="submit" class="btn btn-success btn-lg editpg-btn">編集</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
