<div class="container">
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-1@s uk-width-1-3@m">
                <%= form_with(url: "/task/date", method:"post") do %>
                    <input name="date" type="date" autofocus="" value=<%=Time.now %> onchange="this.form.submit()">
                <% end %>
            </div>
            <div class="uk-width-1-1@s uk-width-2-3@m">
                <%= link_to new_task_path do %>
                    <button type="button" class="btn btn-primary btn-lg btn-block add-task">タスク作成</button>
                <% end %>

                <div class="uk-text-left">
                  <% @tasks.each do |task| %>
                    <ul class="task-list">
                        <li>
                            <input type="checkbox">
                            <label class="task"><%= link_to task.tasks, task %></label>
                            <%= link_to edit_task_path task do %>
                                <button type="button" class="btn btn-warning">Edit</button>
                            <% end %>
                            <%= link_to task, method: :delete, data: { confirm: "you_sure" } do %>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title = <%= "delete" %>>Delete</button>
                            <% end %>
                        </li>
                    </ul>
                  <% end %>
                </div>
            </div>
        </div>
        <div class="uk-text-left">
            <p style="padding-left: 5%;font-size: xx-large">タスクの種類</p>
        </div>
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-1@s uk-width-1-3@m" >
                <div class="task-type-item" >
                    <a href="">家族</a>
                </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-3@m">
                <div class="task-type-item">
                    <a href="">個人</a>
                </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-3@m">
                <div class="task-type-item" >
                    <a href="">会社</a>
                </div>
            </div>
        </div>
        <div class="uk-text-left">
            <p style="padding-left: 5%;font-size: xx-large">レベル</p>
        </div>
        <div class="uk-text-left">
            <a href="#" style="padding-left: 8%;font-size: large">とても大切</a>
        </div>
        <div class="uk-text-left">
            <a href="#"  style="padding-left: 8%;font-size: large">大切</a>
        </div>
        <div class="uk-text-left">
            <a href="#"  style="padding-left: 8%;font-size: large">あまり大切じゃない</a>
        </div>
    </div>
