<% provide :title, ("タスクの詳細") %>
<div class="container">
  <div class="row" >
    <h1 style="color: red; font-weight: bold;text-align: center;margin:0px auto">タスクの詳細</h1>
  </div>
  <div class="row">
    <h3 style="padding-top: 20px"><span style="font-weight: bold">名前：</span><%=  @task.tasks %></h3>
  </div>
  <div class="row" style="padding-top: 20px">
    <div class="col-md-4 margin-t30">
      <div class="time">
        <h3 style="font-weight: bold">スタトタイム </h3>
        <div class="row" style="padding-top: 20px;padding-left: 20px">
          <i class="fa fa-calendar" aria-hidden="true" style="color: blue;font-size:30px;padding-right: 10px"></i> <%= @task.start_time.to_date() %>
        </div>
        <div class="row" style="padding-top: 20px;padding-left: 20px">
          <i class="fa fa-clock-o" aria-hidden="true" style="color: blue;font-size:30px;padding-right: 10px"></i>  <%= @task.start_time.strftime("%H:%M") %>
        </div>
      </div>
    </div>
    <div class="col-md-4 margin-t30">
      <div class="time">
        <h3 style="font-weight: bold">デッドライン</h3>
        <div class="row" style="padding-top: 20px;padding-left: 20px">
          <i class="fa fa-calendar" aria-hidden="true" style="color: blue;font-size:30px;padding-right: 10px"></i> <%= @task.deadline.to_date() %>
        </div>
        <div class="row" style="padding-top: 20px;padding-left: 20px">
          <i class="fa fa-clock-o" aria-hidden="true" style="color: blue;font-size:30px;padding-right: 10px"></i>  <%= @task.deadline.strftime("%H:%M") %>
        </div>
      </div>
    </div>
    <div class="col-md-4 margin-t30">
      <div class="time">
        <h3 style="font-weight: bold">エンドタイム</h3>
        <div class="row" style="padding-top: 20px;padding-left: 20px">
          <i class="fa fa-calendar" aria-hidden="true" style="color: blue;font-size:30px;padding-right: 10px"></i> <%= @task.end_time.to_date() %>
        </div>
        <div class="row" style="padding-top: 20px;padding-left: 20px">
          <i class="fa fa-clock-o" aria-hidden="true" style="color: blue;font-size:30px;padding-right: 10px"></i>  <%= @task.end_time.strftime("%H:%M") %>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width: 100%;padding-left: 5%;padding-right: 5%;padding-top: 20px">
    <p style="font-size: large;"><span style="font-weight: bold">内容 : </span> <%= @task.content %></p>
  </div>
  <div class="row">
    <div class="col-md-4 margin-t30">
      <div class="time">
        <span style="font-weight: bold;font-size: large;padding-right: 10px">レベル :</span>
          <% if @task.level == 1 %>
            <button class="btn btn-primary">あまり大切じゃない</button>
          <% elsif @task.level == 2%>
            <button class="btn btn-warning">大切</button>
          <% else %>
            <button class="btn btn-danger">とても大切</button>
          <% end %>

      </div>
    </div>

    <div class="col-md-4 margin-t30">
      <div class="time">
        <span style="font-weight: bold;font-size: large;padding-right: 10px">タイプ :</span>
          <% if @task.type_task == "1" %>
            <button class="btn btn-primary">家族</button>
          <% elsif @task.type_task == "2" %>
            <button class="btn btn-warning">個人</button>
          <% else %>
            <button class="btn btn-danger">会社</button>
          <% end %>
      </div>
    </div>

    <div class="col-md-4 margin-t30">
      <div class="time">
        <span style="font-weight: bold;font-size: large;padding-right: 10px">状態 :</span>
          <% if @task.status == 0 %>
            <button class="btn btn-primary">Init</button>
          <% elsif @task.status == 1%>
            <button class="btn btn-warning">Doing</button>
          <% else %>
            <button class="btn btn-success">Done</button>
          <% end %>
      </div>
    </div>
  </div>
</div>
